<div style="background-color: black;">
    <title class="form_title">REGISTER FORMULARY</title>
    <div class="left-justified">
        <button (click)="goToInicio()" class="buttons">GO BACK</button>
    </div>
    <form class="formRegis">
        <input placeholder="Name" type="text" class="inputs" required/>
        <input placeholder="Side name" type="text" class="inputs" required/>
        <input placeholder="eMail" type="text" class="inputs" required/>
        <input placeholder="Password" type="password" class="inputs" required/>
        <input placeholder="Sex" type="text" class="inputs" required/>
        <input placeholder="Age" type="number" class="inputs" required/>
        <span class="lista_generos">
            <div>
                <label>Techno genres would you like to know: </label>
            </div>
            <select required>
                <option value=0 selected>Common techno</option>
                <option value=1>Acid</option>
                <option value=2>Industrial</option>
                <option value=3>High tech minimal</option>
                <option value=4>Tech house</option>
            </select>
        </span>
    </form>
    <div>
        <button class="buttons">REGISTER NOW</button>
    </div>
    <footer>
        <p>Copyright Techno World Inc. 2020. All rights reserved</p>
        <a href="https://www.facebook.com"><img class="social_media_logo" src="assets/fb.png"></a>
        <a href="https://www.twitter.com"><img class="social_media_logo" src="https://image.flaticon.com/icons/png/512/23/23931.png"></a>
        <a href="https://www.instagram.com"><img class="social_media_logo" src="assets/ig.png"></a>
    </footer>
</div>   


