<div style="background-color: black;">
    <title class="titles">BIENVENIDO AL PORTAL DE INGRESO</title>
    <div class="left-justified">
        <button (click)="goToInicio()" class="buttons">ATRAS</button>
    </div>
    <div>
        <form class="formLogin">
            <input placeholder="Correo" type="text" class="inputs" required/>
            <input placeholder="Contraseña" type="password" class="inputs" required/>
        </form>
    </div>
    <div>
        <button (click)="LogIn()" class="buttons">ACCEDER</button>
    </div>
</div>

